.header{
  text-align:center;
  background-color:yellow;
  height:200px;
}
.desc{
  border-bottom:5px black solid;
  
}
marquee{
  color:red;
  font-size:20px;
}

.divisons{
background-color:#FFF8DC;
height:50px;
padding-top:20px;
font-size:25px;
}

.home{
margin-right:60px;
padding:4px;
background-color:#A9A9A9;
border:2px black solid;
border-radius:10px;

}


.deptm{
margin-right:60px;
padding:4px;
background-color:#A9A9A9;
border:2px black solid;
border-radius:10px;
}


.htp{
margin-right:60px;
padding:4px;
background-color:#A9A9A9;
border:2px black solid;
border-radius:10px;
}


.faq{
margin-right:60px;
padding:4px;
background-color:#A9A9A9;
border:2px black solid;
border-radius:10px;
}

.cont{
margin-right:60px;
padding:4px;
background-color:#A9A9A9;
border:2px black solid;
border-radius:10px;
}

.log{
background-color:#A9A9A9;
padding:4px;
border:2px black solid;
border-radius:10px;
}


.userlogin{
background-color:#6495ED;
padding-bottom:30px;
}


#dept{
font-size:25px;
margin:20px;
padding-top:20px;
border-bottom:5px black solid;
width:200px;
color:#6495ED;
}


.portimage{
text-align:center;
}


#plant{

margin-right:25%;
}

a:hover{
background-color:#00FA9A;
}


.portal{
background-color:#F0FFFF;

}

.agri{
font-size:25px;
margin-right:50%;
color:green;


}

.stud{
font-size:25px;
color:red;
}


#Signin{
border:5px;
background-color:#FFD700;
width:400px;
height:400px;
padding:15px;
margin-left:35%;

}




.sign{
border-bottom:2px black solid; 
}

.formup{
margin-top:35px;
height:500px;
background-color:#6495ED;
}

#footer{
height:440px;
background-color:#00008B;
}


.contac{
color:#FFF8DC;
font-size:25px;
border-bottom:2px #00CED1 solid; 

}

.contactdesc{
color:#FFF8DC;

}


.mob{
color:#FFF8DC;

}


.mail{
color:#FFF8DC;
}


#mailinfo{
color:#FFF8DC;


}

a:link{
color:#FFF8DC;
}

.floatcon{
float:left;
width:60%;
}

.contimage{
float:right;
}
